<h1 class="text-center">Ask your question to the coach !</h1>
<form action="/answer" method="get">
  <label for="question">Your question?</label>
  <input placeholder="ask your question" type="text" id="question" name="question" required>
  <input type="submit" value="Ask">
</form>
